# IDE
.idea/

# ENVs files
.env
sedscript

# WP files
*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
wp-content/plugins/akismet/
wp-content/themes/twentynineteen/
wp-content/themes/twentyseventeen/
wp-content/themes/twentysixteen/

.htaccess